<h2>Cadastrar Nota</h2>

<form action="/api/notas/inserir" method="POST" id="meuForm">
    <label>Nome:</label>
    <input type="text" name="nome" required>

    <label>Nota 1:</label>
    <input type="number" step="0.1" name="nota1">

    <label>Nota 2:</label>
    <input type="number" step="0.1" name="nota2">

    <label>Nota 3:</label>
    <input type="number" step="0.1" name="nota3">

    <button type="submit" >Salvar</button>
</form>

<br>
<a href="/">Voltar</a>
