<h2>Listagem de Notas</h2>

<div id="lista"></div>

<script>
fetch('/api/notas')
    .then(res => res.json())
    .then(data => {
        let html = "<table border='1'><tr><th>Nome</th><th>Nota 1</th><th>Nota 2</th><th>Nota 3</th><th>Média</th></tr>";
        data.forEach(estudante => {
            html += `
                <tr>
                    <td><a name = "nome">${estudante.nome}<a/></td>
                    <td><a name = "nota1">${estudante.nota1 ?? '-'}<a/></td>
                    <td><a name = "nota2">${estudante.nota2 ?? '-'}<a/></td>
                    <td><a name = "nota3">${estudante.nota3 ?? '-'}</td>
                    <td><a name = "Média">${estudante.media ?? '-'}</td>
                    <td>
                        <a href="/editar/${estudante.nome}?nota1=${estudante.nota1 ?? ''}&nota2=${estudante.nota2 ?? ''}&nota3=${estudante.nota3 ?? ''}">
                            <img src ="/icons/editar.png" width="24" height="24" > 
                        </a>
                    </td>
                    <td>
                        <form action="/api/excluir/${estudante.nome}" method="POST" onsubmit="return confirm('Confirmar exclusão de ${estudante.nome}?');" style="display:inline;">
                            <input type="hidden" name="_method" value="DELETE">
                            
                            <button type="submit" style="border: none; background: none; padding: 0; cursor: pointer;">
                                <img src="/icons/delete.jpeg" width="24" height="24" alt="Excluir">
                            </button>
                        </form>
                    </td>
                </tr>
            `;
        });

        html += "</table>";

        document.getElementById("lista").innerHTML = html;
    });
</script>

<br>
<a href="/">Voltar</a>
